type hal_fingerprint_oppo, domain;
hal_client_domain(hal_fingerprint_oppo, hal_fingerprint)
hal_server_domain(hal_fingerprint_oppo, hal_fingerprint)

type hal_fingerprint_oppo_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_oppo)

binder_call(hal_fingerprint_oppo, hal_fingerprint_oppo)
